<div class="page-content grey-bg">
    <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
        <div class="container-fluid">
            <img src="../../../../assets/logo.png" class="navbar-brand">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]='[]'>Teste</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#" [routerLink]='["minha-conta"]'>Minha conta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" >Sair</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <main class="pt-3">
        <router-outlet></router-outlet>
    </main>

</div>

<footer class="footer">
    <p>Mapas - LS Santo Amaro</p>
</footer>