<div class="container">
    <div class="content-container text-center">
        <div>
            <h1>Timer</h1>
        </div>
    </div>

    <div class="content-container text-center fs-1" >
        <p class="py-2 fs-3" *ngIf="timers.length > 0">{{ chosedTimer.name }}</p>
        <cd-timer [countdown]="true" [autoStart]="false" maxTimeUnit="hour" format="ms"
            [startTime]="chosedTimer.seconds"></cd-timer>

        <div class="py-2 d-flex flex-row justify-content-center" *ngIf="timers.length > 0">
            <button class="btn btn-success m-2 d-flex align-items-center" (click)="startTimer()" *ngIf="!started">
                <span class="material-symbols-outlined">
                    play_circle
                </span>
            </button>

            <button class="btn btn-secondary m-2 d-flex align-items-center" (click)="pauseTimer()" *ngIf="started">
                <span class="material-symbols-outlined">
                    pause_circle
                </span>
            </button>

            <button class="btn btn-secondary m-2 d-flex align-items-center" (click)="resetTimer()">
                <span class="material-symbols-outlined ">
                    stop_circle
                </span>
            </button>
        </div>
        <div class="py-2 d-flex flex-row justify-content-center" *ngIf="timers.length == 0">
            <button class="btn btn-success d-flex align-items-center" [routerLink]='["/setup"]'>
                Adicionar timer
            </button>
        </div>
    </div>

    <div class="content-container" *ngIf="timers.length > 0">
        <div class="table-responsive pt-4">
            <table class="table table-hover align-middle">
                <thead>
                    <tr>
                        <th scope="col">Ordem</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Tempo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let timer of timers" [ngClass]="timer.timerId == chosedTimer.timerId ? 'bg-primary' : ''" (click)="selectTimer(timer)">
                        <td>{{timer.order}}</td>
                        <td>{{timer.name}}</td>
                        <td>{{timer.seconds | secondsToHoursMinutesSeconds }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>